#imglogo{
    top: 19px;
    left: 170px;
    width: 170px;
    height: 36px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#Hero-Section {
    background-image: url("/assets/img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}